/* CSS encabezados */
.h1 {
    font-family: "Zcool";
    text-decoration: underline;
    margin-top: 150px
}

.h2 {
    font-family: "Indie Flower";
    margin-top: 50px;
}

.h3 {
    font-family: "Indie Flower";
    margin-top: 150px;
}


%font-banner {
    font-size: 82px;
    letter-spacing: 5px;
    color: #0a0a24;
    font-weight: bold;
}

.h1-banner {
    font-family: "Indie Flower";
    @extend %font-banner;
    margin-top: 30px;
}

.h1-servicios-index {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #0c071a;
    text-decoration: underline;
}

.h4-footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #0c071a;
    font-size: 30px;
    margin-bottom: 0px;
}

.h1-servicios {
    color:#f6e1c5;
    font-size: 70px;
    font-family: "Caveat";
    margin-bottom: 200px;
}

.h1-stock {
    color:#f6e1c5;
    font-size: 70px;
    font-family: "Caveat";
    margin-bottom: 20px;
}

.h1-tutoriales {
    color:#f6e1c5;
    font-size: 70px;
    font-family: "Caveat";
    margin-bottom: 50px;
}

.h1-nosotros {
    color:#f6e1c5;
    font-size: 70px;
    font-family: "Caveat";
}

.h1-contacto {
    color:#f6e1c5;
    font-size: 70px;
    font-family: "Caveat";
}