/* mixin */

@mixin flex ($color, $font-family,$align-items) {
    display: flex;
    justify-content: center;
}

/* CSS servicios.html */

.servicios-style {
    background: linear-gradient(40deg,#020420,#ffffff);
    opacity: 80%;
    font-size: nth($ft-size , 2 );
    font-weight: bold;
    @include flex (black,"Indie Flowers",center);
    color:#020420;
    margin-top: 10px;
}

.table {
    text-align: center;
    height: 100%;
    width: 100%;
}

.deportiva {
    width: 100%;
    height: 100%;
}

.empresariales {
    width: 100%;
    height: 100%;
}

.eventos {
    width: 100%;
    height: 100%;
}
